@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
}

<form asp-action="Index" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input  name="userId"  />
    <button type="submit">Promote to Admin</button>
</form>
